h1 {
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	color: #b3b3cc;

	margin-left: 60px;
	margin-top: 20px;

}

p.menu {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 22.4px;

	color: #8585ad;
	margin-left: 60px;
	margin-top: 56px;
}

* {
	font-family: "Open sans";
}
