body {
	/*margin-top: 18%;*/
	margin-top: 5vmin;
	margin-left: 10vmax;
	margin-right: 10vmax;
	margin-bottom: 5vmin;
	overflow-x: hidden;
}

* {
	font-family: "Open sans", sans-serif, "Andale Mono";
	font-weight: lighter;
	color: #D8B5BA;
}

h1 {
	/*color: #666699;*/
	color: #D8B5BA;
	font-weight: lighter;
	font-size:7vmin;
/*	margin-right: 100px;
	margin-top: 100px;*/

}

h3 {
	/*color: #666699;*/
	color: #D8B5BA;
	font-weight: lighter;
	font-size:3vw;
	/*font-size: 26px;*/
}

h3.construction {
	/*color: #666699;*/
	color: #D8B5BA;
	font-weight: lighter;
	font-size:3vmax;
	/*font-size: 26px;*/
	margin-top: 10vw;
	margin-right: 10vw;
	margin-left: 10vw;
}
p.construction {
	/*color:LightSlateGrey;*/
	color: #495159;
	font-weight:lighter;
	font-size: 2vmax;
	/*font-size:22px;*/
	margin-right: 100px;
	text-align: left;
	margin-right: 10vw;
	margin-left: 10vw;
}
p {
	color:LightSlateGrey;
	/*color: #495159;*/
	font-weight:lighter;
	font-size: 2vw;
	/*font-size:22px;*/
	margin-right: 100px;
	/*text-align: justify;*/
}

a.construction {
	font-size: 2vmax;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 22.4px;
	/*color: #8585ad;*/
	color: #D8B5BA;
}
a.link{
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 22.4px;
	/*color: #8585ad;*/
	color: #D8B5BA;
}

a.home{
	text-decoration: none;
	font-size: 7vmin;
	font-family: "Open sans", sans-serif, "Andale Mono";
	font-weight: lighter;
}

a:visited {
	color: #D8B5BA;
}

a:hover {
	color: #ffb3b3;
}

.fixed {
	position: relative;
	white-space: nowrap;
}

.logo {
	background-color: white;	
}

.container{
	margin: 0 auto;
}


hr.desktop-only {
	position:absolute;
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgrey;
    margin: 1em 0;
    padding: 0; 
    bottom:10vmin;
    width:80%;
}


div#main{
	overflow: auto;
	max-height: 55vmin;
	padding: 1vh;
}

.box{
	width: 35vmin;
	height:35vmin;

}

.tile {
	width:30vmin;
	height:30vmin;
	/*border: solid lightgrey;*/
	display:inline-block;
}

.tile#overlay{
	margin-right:20px;
	margin-top: 20px;
}

.tile#category {
	background-color: #D8B5BA;
	opacity: 0;
	line-height: 30vh;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.tile#category:hover{
	opacity:0.8;
}

.box{
	margin-left: 5vmin;
}

.title{
	font-size: 5vmin;
}

.image.grid{
	width:30vmin;
	height:30vmin;
}

.image{
	width:45vmax;
	height:45vmax;
	background-size: cover;
	margin: 0 auto;
	float:left; 
}

.oneline{
	width:90vmax;
	margin: 0 auto; 
	text-align: center;
}

.textbox {
	width:22.5vmax;
	float:left;
	text-align: left;
	color:#D8B5BA;
}

.caption{
	font-style: italic;
	color: slategrey;
}

hr{
	width:45vmax;
}

hr.menu {
	width:100%;
}


@media only screen and (max-device-width: 1000px) {
	.textbox {
		width: 80vmin;
	}
	.image {
		width:80vmin;
		height: 80vmin;
		float:center;
	}
	.oneline{
		width:100vmin;
	}
	hr{
		width:100vmin;
	}
}

span#category{
	color: white;
	font-size: 4vh;
	text-align: center;
	vertical-align: middle;
	overflow:hidden;
	max-width:29vmin;
}

.mobile-only {
	visibility: hidden;
}

p.oneline.capture {
	font-size: 2.5vmin;
}

@media only screen and (max-device-width: 1000px) {
	body{
		margin-top: 5%;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
	}
	h1 {
		font-size: 10vw;
		display: inline-block;
	}

	a.home{
		text-decoration: none;
		font-size: 10vw;
		font-family: "Open sans", sans-serif, "Andale Mono";
		font-weight: lighter;
		color: #D8B5BA;
	}

	div#main{
		max-height: 70vmax;
		padding: none;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
	}

	div.oneline.title{
		float:left;
		margin-left: 5vmin;
	}

	h3.oneline.title {
		font-size: 8vw;
	}

	p.oneline.capture {
		font-size: 3vmin;
		width: 60vmin;
		padding-left: 15vmin;
	}

	.logo {
		text-align: left;
		/*margin: 0 auto;*/
		padding-left: 5vmin;
	}
	.quote {
		bottom:0;
		right:0;
	}

	.tile#overlay{
		margin:3px;
	}

	.tile{
		width: 40vmin;
		height: 40vmin;
		display: inline-block;
		/*border:solid lightgrey;*/
	}
	.tile#category{
		opacity:1;
		background-color: transparent;
		border:solid 2px #D8B5BA;
		line-height: 40vmin;
		overflow: hidden;
	}

	.tile.oneline {
		height: 80vmin;
		width: 80vmin;
	}

	.tile.oneline#category{
		border:transparent;
	}

	span#category{
		color: #D8B5BA;
		font-size: 3.5vh;
		overflow: hidden;
		max-width:38vmin;
	}

	hr.mobile-only{
		display: inline-block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid lightgrey;
	    margin: 1em 0;
	    padding: 0; 
	    bottom:10vmin;
	    width:90%;

	}


	.desktop-only{
		visibility: hidden;
	}

	.mobile-only{
		display: inline;
		visibility: visible;
	}
}

::-webkit-scrollbar {
    width: 9px;
}
 

/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}*/

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    background-color: #f6eeef;

}
