h1 {
	/*color: #666699;*/
	color: #D8B5BA;
	font-weight: lighter;
	font-size:40px;
	margin-right: 100px;
	margin-top: 100px;

}

h3 {
	/*color: #666699;*/
	color: #D8B5BA;
	font-weight: lighter;
	font-size:26px;
	margin-right: 100px;
	margin-top: 150px;
}

p {
	/*color:LightSlateGrey;*/
	color: #495159;
	font-weight:lighter;
	font-size:22px;
	margin-right: 100px;
	text-align: justify;
}


a {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 22.4px;
	/*color: #8585ad;*/
	color: #D8B5BA;
}

a:visited {
	color: #D8B5BA;
}

a:hover {
	color: #ffb3b3;
}

* {
	font-family: "Open sans";	
}

body {
	margin-left: 150px;
	margin-right: 250px; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}

