h1 {
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	color: #b3b3cc;

	margin-top: 100px;

}

p {
	margin-left: 50px;

}

a.menu {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 22.4px;

	color: #8585ad;
}

a:hover {
	color: #ffb3b3;
}

* {
	font-family: "Open sans";	
}

body {
	margin-left: 100px;
	margin-right: 100px;
}

